body {    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: -24px;
}

.upper_tab {    
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: -25px;
    background: #F77545;
}

.upper_login_tab {
    position: absolute;
    width: 305px;
    height: 214px;
    left: 567px;
    top: 152px;
    background: #F77545;
}

.bottom_login_tab {
    position: absolute;
    width: 306px;
    height: 384px;
    left: 567px;
    top: 258px;
    background: #FFFFFF;
}

.input_name {
    position: absolute;
    width: 225px;
    height: 34px;
    left: 608px;
    top: 415px;
    background: #FCFCFC;
    border: 2px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
}

.input_password {
    position: absolute;
    width: 225px;
    height: 34px;
    left: 608px;
    top: 478px;
    background: #FCFCFC;
    border: 2px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
}

.button_login {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 608px;
    top: 541px;
    border: 3px solid #F77545;
    box-sizing: border-box;
}

.upper_tab_home {    
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: -25px;
    background: #F77545;
}

.button_home {
    position: absolute;
    width: 81px;
    height: 35px;
    left: 65px;
    top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.button_accounts {
    position: absolute;
    width: 127px;
    height: 35px;
    left: 209px;
    top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.button_cards {
    position: absolute;
    width: 127px;
    height: 35px;
    left: 354px;
    top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.button_logOut {
    position: absolute;
    width: 120px;
    height: 35px;
    left: 1316px;
    top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}


.profile_foto {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 1184px;
    top: 13px;
}


.account_upper {
    padding: 0%;
    position: absolute;
    width: 511px;
    height: 92px;
    left: 65px;
    top: 163px;
    background: #FAFAFA;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.15);
}

.account_bottom {
    position: absolute;
    width: 511px;
    height: 154px;
    left: 65px;
    top: 242px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.graph_upper {
    position: absolute;
    width: 511px;
    height: 92px;
    left: 65px;
    top: 438px;
    background: #FAFAFA;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.15);
}

.graph_bottom {   
    position: absolute;
    width: 511px;
    height: 312px;
    left: 65px;
    top: 438px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.transaction_upper {
    position: absolute;
    width: 641px;
    height: 80px;
    left: 608px;
    top: 163px;
    background: #FAFAFA;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}

.transaction_bottom {
    position: absolute;
    width: 641px;
    height: 507px;
    left: 608px;
    top: 243px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.button_payment {
    position: absolute;
    width: 120px;
    height: 48px;
    margin-left: 75%;
    border: 3px solid #FB5D23;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-top: -60px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 6px;
    color: #A6A6A6;
}

.title_transaction {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #A6A6A6;
}

.green_label {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 103px;
    top: 459px;
    background: #9EFFBD;
}

.balance {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #06C547;
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.transaction  {
    position: relative;
    width: 640px;
    height: 57px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #F3F3F3;
    z-index: 1;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #A6A6A6;
}

.title_home {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 65px;
    top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
}


#errorLogin {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 608px;
    top: 600px;
    font-family: Arial, Helvetica, sans-serif,
}

/* ///////////////////////////////////////////////////////////////// */

.button {
  position: relative;
  background-color: #FB5D23;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 60px;
  width: 200px;
  height: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #FFFFFF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}